[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urllib3 = "<2.0.0"
pyyaml = "*"
oandapyv20 = "*"
python-dotenv = "*"
openpyxl = "*"
imobject = "*"
cryptography = "*"
jupyter = "*"
openai = "*"
ipykernel = "*"
pandas-ta = "*"
watchdog = "*"
v20 = "*"
plotly = "*"
cufflinks = "*"

[dev-packages]
pyclean = "*"
pylint = "*"
black = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-html = "*"
pytest-describe = "*"
sphinx = "*"
sphinxcontrib-apidoc = "*"
towncrier = "*"
pre-commit = "*"
pytest-lazy-fixture = "*"
twine = "*"
behave = "*"
pandas = "*"
ta = "*"
langchain = "*"
openai = "*"
install = "*"
tiktoken = "*"
pypdf = "*"
poetry = "*"
py = "*"
