[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
oandapyv20 = "*"
python-dotenv = "*"
openpyxl = "*"
imobject = "*"
cryptography = "*"
jupyter = "*"
openai = "*"
ipykernel = "*"

[dev-packages]
pyclean = "*"
pylint = "*"
black = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-html = "*"
pytest-describe = "*"
sphinx = "*"
sphinxcontrib-apidoc = "*"
towncrier = "*"
pre-commit = "*"
pytest-lazy-fixture = "*"
twine = "*"
behave = "*"
pandas = "*"
ta = "*"
langchain = "*"
openai = "*"
install = "*"
tiktoken = "*"
pypdf = "*"
